# For more details, visit: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# misc
.env

# dependencies
/node_modules
node_modules/
/node_modules/

# production
/build
build/
/build/